/*------------------------------Футер----------------------*/

.footer {
    background: var(--accent-background);
    padding-top: 60px;
    padding-bottom: 60px;

    // &__wraper {
    //     // display: flex;
    // }

    &__contacts-wraper {
        width: 231px;
        margin: 0 auto 60px auto;
        text-align: center;
        // margin-right: 70px;
    }

    &__logo {
        color: var(--third-color);
        display: block;
        margin-bottom: 20px;
    }

    &__social {
        display: flex;
        gap: 10px;
        margin: 0;
    }

    &__social-title {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--third-color);
    
        display: block;
        text-align: center;
        // margin-top: 12px;
        margin-bottom: 20px;
    }

    &__form-wraper {
        margin-top: 60px;
        // margin-left: 90px;
    }
}