.subscription {
    &__title {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--third-color);

        display: block;
        text-align: center;
        // margin-top: 12px;
        margin-bottom: 20px;
    }

    &__email {
        // width: 358px;
        width: 100%;
        max-width: 450px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        outline: none;
    
        color: var(--third-color);
        padding-left: 16px;
    
        cursor: pointer;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border-color: var(--third-color);
        }

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
        }
    }
}