:root {
/*color*/
    --main-color: #212121;
    --second-color: #757575;
    --third-color: #ffffff;
    --accent-color: #2196f3;
    --btn-color: #ffffff;
  
/*background*/
    --main-background: #ffffff;
    --second-background: #F5F4FA;
    --accent-background: #2f303a;
    --main-btn-background: #2196f3;
    --accent-btn-background: #188ce8;

/*font*/
    --main-font: Roboto, sans-serif;
    --logo-font: Raleway, sans-serif;
}